<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Datos de login de usuario: </h2>

    Email: <input type="email" id="user_email" placeholder="Email" value="{{email::input}}">
    Password: <input type="password" id="password" placeholder="Password" value="{{password::input}}">
    <button on-click="login">Login</button>

    <!--iron-ajax auto="" id="getUser"
    url="http://localhost:3000/apitechu/v2/users/{{id}}"
    handle-as="json"
    on-response="showData"-->

    <iron-ajax id="doLogin"  method="POST"
    url="http://localhost:3000/apitechu/v2/login"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email:{
            type: String
          },
          password:{
            type: String
          }
        };
      }

      login (){
        console.log("Logining in");
        var loginData = {
          "email":this.email,
          "password":this.password
        }
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Logged");
      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida");
        console.log(data.detail.response);
      }

      showError(error){
        console.console.log("Error de login");

      }
    }


    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
