<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Datos de usuario: </h2>

    Id: <input type="number" id="id-user" value="{{id::input}}">
    Nombre: <input type="text" id="firstName" value="{{first_name::input}}">
    Apellido: <input type="text" id="lastName" value="{{last_name::input}}">
    Email: <input type="text" id="email" value="{{email::input}}">

    <!--input type="range" id="realAge" min="18" max="70" value="{{age:input}}"-->

    <h2>Id: {{id::input}}</h2>
    <h2>Nombre: {{first_name::input}} {{last_name::input}}</h2>
    <h2>Email: {{email::input}}</h2>

    <iron-ajax auto=""
    id="getUser"
    url="http://localhost:3000/apitechu/v2/users/{{id}}"
    handle-as="json"
    on-response="showData">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email:{
            type: String
          }
        };
      }

      showData (data){
        console.log("showData");
        console.log(data.detail.response);
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
        this.id = data.detail.response.id;
      }
    }


    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
