<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-accounts">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Datos de cuentas: </h2>

    <h2>UserId: {{userid::input}}</h2>
    <h2>IBAN: {{iban::input}} </h2>
    <h2>Balance: {{balance::input}}</h2>

    <iron-ajax auto=""
    id="getAccounts"
    url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
    handle-as="json"
    on-response="showData">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccounts extends Polymer.Element {
      static get is() { return 'visor-accounts'; }
      static get properties() {
        return {
          userid: {
            type: Number
          },
          IBAN: {
            type: String
          },
          balance: {
            type: Number
          }
        };
      }

      showData (data){
        console.log("showData");
        console.log(data.detail.response);
        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;
        this.userid = data.detail.response[0].userid;
      }
    }


    window.customElements.define(VisorAccounts.is, VisorAccounts);
  </script>
</dom-module>
